*{
	margin: 0;
	padding: 0;
}
ul,li{
	list-style: none;
}
.clear:after{
	content: "";
  	display: table;
  	clear: both;
}
.left{
	float: left;
}
.right{
	float: right;
}
.head{
	height: 2.8rem;
}
 .mui-bar{
	background: #afdbcc;
}
.mui-pull-left{
	color: white;
}
.mui-bar .mui-title{
	color: white;
}
.cont ul li img{
    line-height: 42px;
    max-width: 8rem;
    height: 8rem;
    margin-right: 0.5rem;
}
.cont ul li{
	clear: both;
	padding: 1.3rem;
	border: 1px solid #ddd;
}
